*{
	margin:0;
	padding:0;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(images/bkd-img.jpg);
	height:100vh;
	background-size:cover;
	background-position:center;
}
.main-nav{
	float:right;
	list-style:none;
	margin-top:30px;
}
.main-nav li{
	display:inline-block;
}
.main-nav li a{
	color:white;
	text-decoration:none;
	padding:5px 20px;
	font-family:sans-serif;
	font-size:15px;
}
.main-nav li.active a{
	border:1px solid white;
}
.main-nav li a:hover{
	border:1px solid white;
}
body{
	font-family:monospace;
}
.row{
	max-width:1200px;
	margin:auto;
}
.text{
	position:absolute;
	width:1200px;
	margin-left:0;
	margin-top:0;
}
h1{
	color:white;
	font-family: 'Pacifico', cursive;
	font-size:120px;
	text-align:center;
	margin-top:275px;
}